.service {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: aliceblue;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: translateX(0.4rem) translateY(-1rem);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .icon {
      img {
        height: 10.5rem;
      }
    }
  }
  .tot{
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .exp{
    justify-content: end;
    width: 35px;
    height: 35px;
  }
 .forhead{
    padding-top: 100px;
 }
.head2 {
        font-family: 'Poppins', sans-serif; /* Use the Poppins font */
        font-size: 30px; /* Large font size */
        font-weight: 700; /* Bold font weight */
        background:  black;
        -webkit-background-clip: text; /* Clip the gradient to the text */
        -webkit-text-fill-color: transparent; /* Make the actual text color transparent */
        text-align: center; /* Center align the text */
        /* text-shadow: 2px 2px 8px rgba(14, 11, 11, 0.2);  */
        padding: 20px; /* Add some padding */
         /* Remove default margin */
    }
